img {
  width: 100%;
  vertical-align: top;
}

.idiomas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.bandera {
  width: 75px;
  margin: 10px;
  cursor: pointer;
}

.botones{
  text-align: center;
}

.botones button{
  width: 150px;
  background-color: teal;
  padding: 5px 8px;
  margin: 10px;
  border-radius: 5px;
  border: 1px dotted black;
  color: white;
  font-size: 1.05em;
  cursor: pointer;
}

.profesora, .ubicacion {
  width: 320px;
  text-align: center;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background-color: teal;
  padding-bottom: 15px;
  color: white;
  margin: auto
}

.container{
  max-width: 500px;
  height: 100%;
  margin: auto;
  text-align: center;
}